In [1]:
import os
import pandas as pd

from powerlaw import Fit
from powerlaw import plot_pdf, plot_ccdf

from liquidity.util.trades_data_util import get_trades_impact

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# Creating the path to the CSV file
current_dir = os.path.abspath('.')
root_dir = os.path.join(current_dir, '..', '..')
csv_path = os.path.join(root_dir, 'data', 'sample', '2016-09-30_TSLA.csv')

# Read the CSV
tsla_data = pd.read_csv(csv_path, header=0, index_col=0)
tsla_data.head(10)

,event_no,quote_no,side,price,size,order_id,event_timestamp,lob_action,old_price,old_size,...,modify_count,end_of_event,best_ask_num_orders,best_bid_num_orders,level_num_orders_total,level_size_total,total_ask_orders,total_bid_orders,market_state,printable
41425,41426,41426,ASK,201.50,100,67683208.0,2016-09-30 10:30:00.034204396,INSERT,NaN,0,...,0,True,2,1,2,147,5194,4065,CONTINUOUS_TRADING,True
41426,41427,41427,BID,NaN,0,NaN,2016-09-30 10:30:00.245165058,REMOVE,200.03,100,...,0,True,2,1,0,0,5194,4064,CONTINUOUS_TRADING,True
41428,41429,41429,ASK,NaN,0,NaN,2016-09-30 10:30:00.245244884,REMOVE,202.86,100,...,0,True,2,1,0,0,5193,4065,CONTINUOUS_TRADING,True
41430,41431,41431,BID,NaN,0,NaN,2016-09-30 10:30:01.225076157,REMOVE,201.12,81,...,0,True,2,1,0,0,5194,4064,CONTINUOUS_TRADING,True
41432,41433,41433,BID,NaN,0,NaN,2016-09-30 10:30:01.332869328,REMOVE,200.04,100,...,0,True,2,1,0,0,5194,4064,CONTINUOUS_TRADING,True
41436,41437,41437,ASK,NaN,0,NaN,2016-09-30 10:30:02.196223415,REMOVE,201.50,47,...,0,True,1,1,1,100,5193,4065,CONTINUOUS_TRADING,True
41437,41438,41438,ASK,201.50,47,67683208.0,2016-09-30 10:30:02.196223415,UPDATE,201.50,100,...,1,True,1,1,1,47,5193,4065,CONTINUOUS_TRADING,True
41438,41439,41439,ASK,NaN,0,NaN,2016-09-30 10:30:02.196272178,REMOVE,201.50,47,...,1,True,1,1,0,0,5192,4065,CONTINUOUS_TRADING,True
41440,41441,41441,BID,201.41,100,67791820.0,2016-09-30 10:30:02.196313234,INSERT,NaN,0,...,0,True,1,1,1,100,5192,4065,CONTINUOUS_TRADING,True
41446,41447,41447,BID,201.42,100,67791956.0,2016-09-30 10:30:02.196763463,INSERT,NaN,0,...,0,True,1,1,1,100,5192,4067,CONTINUOUS_TRADING,True

# Summary Statistics

Below, we present some up-to-date statistical results regarding order flow and LOB state for a set of representative of assets that we study from our universe. More specificaly, we list a range of summary statistics that describe aggregate activity.  A few notable features, common to all stocks, should be outlined:

In [5]:
get_trades_impact(filepath=csv_path, date='2016-09-30')

,event_timestamp,sign,side,lob_action,order_executed,execution_price,execution_size,ask,bid,midprice,ask_volume,bid_volume,price_changing,midprice_change,R1,norm_trade_volume
0,2016-09-30 10:30:02.196223415,1,ASK,UPDATE,True,201.50,100,201.50,201.31,201.405,147.0,100.0,False,0.000,0.000,0.832413
1,2016-09-30 10:30:02.196272178,1,ASK,REMOVE,True,201.50,47,201.50,201.31,201.405,47.0,100.0,True,0.160,0.160,0.391234
2,2016-09-30 10:30:24.282472187,-1,BID,REMOVE,True,201.51,100,201.62,201.51,201.565,15.0,100.0,True,0.000,-0.000,0.771640
3,2016-09-30 10:30:24.283284414,-1,BID,REMOVE,True,201.51,100,201.62,201.51,201.565,15.0,100.0,True,-0.060,0.060,0.771640
4,2016-09-30 10:30:42.004295012,1,ASK,REMOVE,True,201.59,50,201.59,201.42,201.505,50.0,200.0,True,0.100,0.100,0.416207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1810,2016-09-30 14:59:25.335373566,-1,BID,REMOVE,True,204.18,100,204.47,204.18,204.325,145.0,100.0,True,-0.055,0.055,0.771640
1811,2016-09-30 14:59:25.336160987,-1,BID,REMOVE,True,204.13,100,204.41,204.13,204.270,100.0,181.0,False,0.030,-0.030,0.771640
1812,2016-09-30 14:59:25.338106494,-1,BID,REMOVE,True,204.19,100,204.41,204.19,204.300,100.0,181.0,False,0.000,-0.000,0.771640
1813,2016-09-30 14:59:25.338138898,-1,BID,REMOVE,True,204.19,81,204.41,204.19,204.300,100.0,81.0,True,-0.130,0.130,0.625028
1814,2016-09-30 14:59:57.795769926,-1,BID,REMOVE,True,204.09,5,204.25,204.09,204.170,100.0,5.0,True,0.000,-0.000,0.038582

# 1.  Bid-Ask Spread Distribution

# 2. Order Size Distribution

# 3. Volume at the Best Quotes

## 3.1. Distribution $x_{\rm MO}$ of the fraction of executed volume $p(x) = v/V_{\rm best}$

They submit small orders when liquidity is abundant and large orders only when it is scarce thus ensuring they are not on the (wrong) side of the market that is being adversely selected.

## 3.2 Conditional distribution of avg $x_{\rm MO}$ size $f(x) = v/\overline{V}_{\rm{best}}| V_{\rm best}$